:root {
  --primaryColor: #F5D85F; 
  --secondaryColor: #111111; 
  --thirdColor: #474747;
}
.home{
  background-color: var(--thirdColor);
}
.bg-light {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)) !important;
}
.loadingTxt{
  -webkit-filter: drop-shadow(0px 3px 3px #ffffff4f);
  filter: drop-shadow(0px 3px 3px #ffffff67);
}
.loadingLogo{
  -webkit-filter: drop-shadow(0px 3px 3px #ffffff4f);
  filter: drop-shadow(0px 3px 3px #ffffff67);
  width: 60px;
  height: 60px;
}