.littleBorder {
  border-color: #100e1d !important;
}
.bgLittle {
  background-color: #1e213a;
}

.fixed-width{
  width: 200px;
}
.upper{
  text-transform: capitalize;
}
.bgLittleCard {
  background-color: #1E213A;
}