:root {
  --primaryColor: #F5D85F; 
  --secondaryColor: #111111; 
}
.littleBorder {
  border-color: var(--primaryColor) !important;
}
.bgLittle {
  background-color: var(--secondaryColor);
}
.fixed-width{
  width: 200px;
}
.upper{
  text-transform: capitalize;
}
.mImg {
padding-top: 10%;
padding-bottom: 10%;
}
.bgLittleCard {
  background-color: var(--secondaryColor);
}
.text-warning {
  --bs-text-opacity: 1;
  color: var(--primaryColor) !important;
}
.card-header{
  padding: 5px;
}