.offcanvas-start {
    width: 456px;
    border: none
}

.sizeIcon {
    font-size: 70px;
  }
.littleBorder {
border-color: #100e1d !important;
}
.bgLittle {
background-color: #1e213a;
}


.fixed-width{
width: 200px;
}