:root {
  --primaryColor: #F5D85F; 
  --secondaryColor: #111111; 
}
.offcanvas-start {
    width: 456px;
    border-right: 1px solid var(--primaryColor)
}
.text-warning {
  --bs-text-opacity: 1;
  color: var(--primaryColor) !important;
}
.sizeFirst {
  font-size: 70px;
}
.sizeSecond {
  font-size: 35px;
}
.sizeIcon {
    font-size: 70px;
  }
.littleBorder {
border-color: #100e1d !important;
}
.bgLittle {
background-color: #1e213a;
}

.upper{
  text-transform: capitalize;
}
.fixed-width{
width: 200px;
}

.citiesList{
  list-style: none;
}

.list-group{
  cursor: pointer;
}

.localization-button{
  background: none;
  border: none;
}

.list-item:hover{
  background-color: blue;
}
.btn-outline-primary {
  color: var(--primaryColor);
  border-color: var(--primaryColor);
}
.btn-outline-primary:hover {
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem #f5d75f83; 
  ;
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: var(--secondaryColor);
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem #1111118e;
}
.offcanvas {
  background-color: var(--secondaryColor);
  color:var(--primaryColor);
}